<p-dataView [value]="shown()">
    <ng-template pTemplate="header">
        {{shown().length}} / {{lista.length}}
        <span app-scheda-filter #schedafilter [tipo]="'accessorio'"></span>
        <span app-scheda-accessorio-filter #accessoriofilter></span>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
    </ng-template>
    <ng-template let-oggetto pTemplate="listItem">
        <div class="grid col-12">
            <div app-oggetto-view [oggetto]="oggetto" mode="list" (move)="move.emit(oggetto)"></div>
        </div>
    </ng-template>
    <ng-template let-oggetto pTemplate="gridItem">
        <div class="grid col-4 sm:col-6 p-1">
            <div app-oggetto-thumbnail [oggetto]="oggetto" (click)="clickOggetto(oggetto)"></div>
        </div>
    </ng-template>
</p-dataView>
