<div class="grid" class="mode-{{mode}}">
    <div class="grid col-12">
        <div *ngIf="!editable">{{tipoSelected?.label}}</div>
        <p-treeSelect *ngIf="editable" [(ngModel)]="tipoSelected" [options]="tipoTree" (onNodeSelect)="tipoSelect($event)"></p-treeSelect>
    </div>
    <div class="grid col-12">
        <p-rating class="col-12" [readonly]="!editable" [cancel]="false" [(ngModel)]="scheda.condizioni"></p-rating>
    </div>
    <div class="grid col-12 item-info" *ngIf="editable || scheda.descrizione">
        <div *ngIf="!editable">{{scheda.descrizione}}</div>
        <input *ngIf="editable" class="col-12" pInputText [(ngModel)]="scheda.descrizione" />
    </div>
    <div class="grid col-12 item-info" *ngIf="editable || scheda.note">
        <div *ngIf="!editable" class="comments">{{scheda.note}}</div>
        <input *ngIf="editable" class="col-12 comments" pInputText [(ngModel)]="scheda.note" />
    </div>
</div>