@use '../abstracts' as *;

.overbuttons {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: $spacing-sm;
  //z-index: 10; // opzionale, per stare sopra altri elementi

  // Variante: in alto a destra
  &--up {
    top: $spacing-sm;
  }

  // Variante: in basso a destra
  &--down {
    bottom: $spacing-sm;
  }

  // Se vuoi un minimo di margine dal bordo
  &--up,
  &--down {
    right: $spacing-sm;
  }
}