@use '../abstracts' as *;

.entity {

  &::before {
    font-size: 0.9em;
  }

  &--posto::before {
    content: "📦";
  }

  &--home::before {
    content: "🏠";
  }

  &--accessorio::before {
    content: "🔨";
  }

  &--vestiti::before {
    content: "👕";
  }

}