<p-dataView [value]="lista">
    <ng-template pTemplate="header">
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
    </ng-template>
    <ng-template let-oggetto pTemplate="listItem">
        <div>
            <div class="grid">
                <div class="col-4">ID</div>
                <div class="col-8">{{oggetto.id}}</div>
            </div>
            <div class="grid">
                <div class="col-4">Nome</div>
                <div class="col-8">{{oggetto.nome}}</div>
            </div>
            <div class="grid">
                <div class="col-4">Condizioni</div>
                <div class="col-8">{{oggetto.scheda.condizioni}}</div>
            </div>
            <div class="grid">
                <div class="col-4">Descrizione</div>
                <div class="col-8">{{oggetto.scheda.descrizione}}</div>
            </div>
        </div>
    </ng-template>
    <ng-template let-oggetto pTemplate="gridItem">
        <div>
            <div class="">
                <div class="col-4">ID</div>
                <div class="col-8">{{oggetto.id}}</div>
            </div>
            <div class="">
                <div class="col-4">Nome</div>
                <div class="col-8">{{oggetto.nome}}</div>
            </div>
            <div class="">
                <div class="col-4">Condizioni</div>
                <div class="col-8">{{oggetto.scheda.condizioni}}</div>
            </div>
            <div class="">
                <div class="col-4">Descrizione</div>
                <div class="col-8">{{oggetto.scheda.descrizione}}</div>
            </div>
        </div>
    </ng-template>
</p-dataView>
