<div class="oggetto">
    <div class="linkto" (click)="browse()">{{oggetto.id}}</div>
    <div class="gallery">
        <img *ngFor="let image of gallery.shown" [src]="image.src" />
        <div *ngIf="gallery.more.length > 0" (click)="gallery.showAll()">Altre {{gallery.more.length}} foto</div>
    </div>
    <div *ngIf="oggetto.scheda">
        <div>{{oggetto.scheda.tipo}}</div>
        <div *ngIf="!saving" app-scheda-view [scheda]="oggetto.scheda" 
            (save)="saveScheda($event)" 
            (move)="moveScheda($event)"
            (shoot)="shootPicture($event)"
            ></div>
    </div>
    <div *ngIf="!oggetto.scheda">
        <div *ngFor="let proto of allSchedaProto()" (click)="newSchedaAs(proto)">{{proto.nome}}</div>
    </div>
</div>