@use '../abstracts' as *;

.breadcrumbs {
  font-size: 1.0rem;
  color: $color-muted;

  a {
    color: $color-primary;

    &:hover {
      text-decoration: underline;
    }
  }

  span.separator {
    margin: 0 $spacing-sm;
  }
}

.arrayitems {
    display: flex;
    gap: $spacing-sm;
    flex-wrap: wrap;
}