/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Belleza';
    src: url('./assets/Belleza-Regular.ttf') format("truetype");
    font-weight: 400;
}

body {
    font-family: 'Belleza';
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

h1.oggetto::before {
    padding: 2px;
    font-size: 10px;
}
h1.oggetto-accessorio::before {
    content: 'A';
    color: blue;
    background-color: lightblue;
    border: 1px solid blue;
}
h1.oggetto-scatola::before {
    content: 'S';
    color: green;
    background-color: lightgreen;
    border: 1px solid green;
}

.mode-short {
    .item-detail {
        display: none;
    }
}

.mode-list {
    .item-detail {
        display: none;
    }
    .item-info {
        display: none;
    }
}

.button-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 0;
    .button-icon {
        padding: 2px;
        border: 1px solid black;
        margin: 1px;
        background-color: white;
        height: 27px;
        position: relative;
        i {
            color: black;
            font-size: 20px;
        }
    }
}

.p-dataview-content {
    background: none;
}

.comments {
    background-color: beige;
}

.posto {
    padding-left: 2px;
    padding-right: 5px;
    text-decoration: underline 2px solid purple;
}
.posto::before {
    content: 'P';
    padding-left: 2px;
    padding-right: 2px;
    font-size: 10px;
    text-decoration: none;
    color: purple;
    background-color: pink;
    border: 2px solid purple;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

.posti-children{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

.gallery .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    width: 100%;
}

.gallery.zoomed-true {
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: fixed;
    top: 0;
    left: 0;
    overflow: scroll;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    .buttons {
        position: fixed;
        top: 0;
        right: 0;
        font-size: 2em;
        color: white;
        padding: 2px;
        border: 2px solid white;
    }
    .images {
        justify-content: center;
        padding: 5px;
        width: 100%;
    }
    img{
        max-width: 100%;
    }
}

.videocontainer {
    color: black;
    video {
        height: 100vh;
        width: 100vw;
    }
}

h1 {
    margin: 0px;
    width: 100%;
    text-align: center;
}

.fullpage {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
}

.modal {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.button {
    padding: 2px;
    border: 1px solid white;
    &.menu {
        margin: 1px;
        width: 38px;
        height: 38px;
        text-align: center;
        font-size: 34px;
        color: white;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
}
