/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Belleza';
    src: url('./assets/Belleza-Regular.ttf') format("truetype");
    font-weight: 400;
}

body {
    font-family: 'Belleza';
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    .posto {
        padding-left: 10px;
    }
}

.posti-children{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    .posto {
        padding-left: 10px;
    }
}

.gallery .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery.zoomed-false {
    img{
        width: 80px;
    }
}

.gallery.zoomed-true {
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: fixed;
    top: 0;
    left: 0;
    overflow: scroll;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    .buttons {
        position: fixed;
        top: 0;
        right: 0;
        font-size: 2em;
        color: white;
        padding: 2px;
        border: 2px solid white;
    }
    .images {
        justify-content: center;
        padding: 5px;
        width: 100%;
    }
    img{
        max-width: 100%;
    }
}

.videocontainer {
    color: black;
    video {
        height: 100vh;
        width: 100vw;
    }
}

h1 {
    margin: 0px;
    width: 100%;
    text-align: center;
}

.fullpage {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
}

.modal {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.button {
    padding: 2px;
    border: 1px solid white;
    &.menu {
        margin: 1px;
        width: 38px;
        height: 38px;
        text-align: center;
        font-size: 34px;
        color: white;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
}
