/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Belleza';
    src: url('./assets/Belleza-Regular.ttf') format("truetype");
    font-weight: 400;
}

body {
    font-family: 'Belleza';
}

h1 {
    margin: 0px;
    width: 100%;
    text-align: center;
}

.fullpage {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
}