@media screen and (orientation:landscape) {
    .selfie {
        height: 100%;
        width: 100%;
    }
}

@media screen and (orientation:portrait) {
    .selfie {
        height: 100%;
        width: 100%;
    }
}

.myvideo {
    height: 100vh;
    width: 100vw;
}

.myphoto {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    border: 1px solid red;
    img {
        width: 100%;
    }
}

.mycamera {
    position: fixed;
    top: 0;
    left: 0;    
}

.overpicture {
    position: absolute;
    display: none;
}

