<div *ngIf="!browse" class="loading">Caricamento...</div>
<div *ngIf="browse">

    <div class="button-icons">
        <span *ngIf="!edit" class="button-icon"><i class="pi pi-pencil" (click)="openEdit()"></i></span>
        <span *ngIf="edit" class="button-icon"><i class="pi pi-times" (click)="cancelEdit()"></i></span>
        <span *ngIf="edit" class="button-icon"><i class="pi pi-save" (click)="saveEdit()"></i></span>
        <span class="button-icon"><i class="pi pi-plus" (click)="branching = true"></i></span>
    </div>
    <div class="breadcrumbs">
        <span *ngFor="let posto of browse.breadcrumbs">
            <span app-posto-view [posto]="posto"></span>
            <i class="pi pi-angle-right"></i>
        </span>
        <span class="head">
            <div *ngIf="!edit" app-posto-view [posto]="browse.posto"></div>
            <div *ngIf="edit">
                <input type="text" pInputText [(ngModel)]="edit.nome" />
            </div>
        </span>
    </div>
    <div class="posti-children">
        <div *ngFor="let posto of browse.posti" app-posto-view [posto]="posto"></div>
    </div>
    <div>
        <div app-list-oggetto [lista]="browse.oggetti" (move)="itemMoved($event)"></div>
    </div>
</div>
<div class="panel-menu-list bottom-right-menu">
    <p-button *ngIf="!adding" label="+" (click)="adding = true" ></p-button>
</div>

<div *ngIf="adding">
    <div app-qr-code-popup (qrcode)="addItem($event)" (cancel)="adding = false"></div>
</div>
<div *ngIf="branching">
    <div app-qr-code-popup (qrcode)="addPosto($event)" (cancel)="branching = false"></div>
</div>
