<div *ngIf="!browse" class="loading">Caricamento...</div>
<div *ngIf="browse">
    <div class="breadcrumbs">
        <span app-posto-view *ngFor="let posto of browse.breadcrumbs" [posto]="posto"></span>
    </div>
    <h1>
        <div app-posto-view [posto]="browse.posto"></div>
    </h1>
    <div class="posti-children">
        <div *ngFor="let posto of browse.posti" app-posto-view [posto]="posto"></div>
    </div>
    <div>
        <div app-list-oggetto [lista]="browse.oggetti"></div>
    </div>
</div>
<div class="panel-menu-list bottom-right-menu">
    <p-button *ngIf="!adding" label="+" (click)="adding = true" ></p-button>
</div>

<div *ngIf="adding">
    <div app-qr-code-popup (qrcode)="addItem($event)" (cancel)="adding = false"></div>
</div>
