<div *ngIf="!browse" class="loading">Caricamento...</div>
<div *ngIf="browse">
    <div class="breadcrumbs">
        <span app-posto-view *ngFor="let posto of browse.breadcrumbs" [posto]="posto"></span>
    </div>
    <div>
        <div app-posto-view [posto]="browse.posto"></div>
    </div>
    <div class="posti-children">
        <div *ngFor="let posto of browse.posti" app-posto-view [posto]="posto"></div>
    </div>
    <div *ngFor="let oggetto of browse.oggetti">
        <div app-oggetto-view [oggetto]="oggetto" (move)="itemMoved($event)"></div>
    </div>
    <div>
        <p-button label="+" (click)="adding = true" ></p-button>
    </div>
</div>
<div *ngIf="adding">
    <div app-qr-code-popup (qrcode)="addItem($event)" (cancel)="adding = false"></div>
</div>
