@use '../abstracts' as *;

* {
  box-sizing: border-box;
}

body {
  margin: 2px;
}

textarea {
    width: 100%;
}

.title-short img {
    max-height: 1.2rem;
    position: relative;
    top: 0.1rem;
}

.notimportant {
    font-size: 0.8rem;
    color: $color-muted;
}

.pagesection {
    border-top: 1px solid black;
    padding-top: 2px;
    position: relative;
    min-height: 1.2rem;

    &-with-buttons {
        min-height: 60px;
    }

}

.boxed {
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
}

.data-panel {

    display: flex;
    column-gap: $spacing-md;
    row-gap: 0;
    flex-wrap: wrap;

    &-header {
        color: $color-secondary;
        max-width: 30%;
    }

    &-line {
        width: 100%;
    }

}

// BUTTONS

// ===============================
// Classe principale
// ===============================
button,
.btn {
    @include button-base;
    @include button-states;
    background: white;
    svg {
        width: 24px;
        height: 24px;
    }
}


// ===============================
// Variante: solo icona
// ===============================
.btn-icon {
  @include button-reset;

  border: 1px solid $btn-border-color;
  border-radius: $btn-border-radius;

  svg {
    width: 40px;
    height: 40px;
  }

  @include button-states;

}

// ===============================
// Variante: compatta
// ===============================
.btn-sm {
  padding: 0px 4px;
  font-size: 0.875rem;
  svg {
    width: 16px;
    height: 16px;
  }
}

// ===============================
// Variante: grande
// ===============================
.btn-lg {
  padding: 8px 12px;
  font-size: 1.1rem;
  svg {
    width: 40px;
    height: 40px;
  }
}

// ===============================
// Icone dentro button (Heroicons)
// ===============================
.btn svg {
  flex-shrink: 0;
}